body{
    background-color: #36393f;
}

.p{
    top: 50%
}
.Argazkia{
    position: relative;
    top:72px;
    left:656px;
    z-index: 1;
}
.galdera1{
    position: fixed;
    top:394px;
    left:671px;
    z-index: 2; 
}
.galdera2{
    position: fixed;
    top:88px;
    left:672px;
    z-index: 2; 
}
.galdera3{
    position: fixed;
    top:88px;
    left:1085px;
    z-index: 2; 
}
.galdera4{
    position: fixed;
    top:403px;
    left:1087px;
    z-index: 2; 
}
.galdera5{
    position: fixed;
    top:445px;
    left:1088px;
    z-index: 2; 
}
.galdera6{
    position: fixed;
    top:853px;
    left:1081px;
    z-index: 2; 
}
.galdera7{
    position: fixed;
    top:845px;
    left:863px;
    z-index: 2; 
}
.galdera8{
    position: fixed;
    top:859px;
    left:675px;
    z-index: 2; 
}
.galdera9{
    position: fixed;
    top:442px;
    left:674px;
    z-index: 2; 
}
.galdera10{
    position: fixed;
    top:493px;
    left:874px;
    z-index: 2; 
}
.button{
    position: fixed;
    top: 493px;
    left: 236px;
}

.divgrandote{
    background-color: white;
    border: 2px solid black;
    position: fixed;
    top: 317px;
    left: 147px;
    width: 250px;
    height: 100px;
}

.divchikito{
  position: absolute;
  top: 42px;
  text-align: center;
  width: 250px;
  height: 100px;

}
